@import url(https://fonts.bunny.net/css?family=poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900);

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.body-containerr {
    /* border: 4px solid grey; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem;
    height: 99vh;
    background: linear-gradient(100deg, rgba(37, 138, 252, 0.100) 27.64%, rgba(136, 91, 255, 0.100) 43.42%, rgba(213, 23, 247, 0.100) 58.83%, rgba(246, 173, 109, 0.100) 81.81%);
}

.main-head {
    font-size: 38px !important;
    font-weight: 600 !important;
}

.cal-container {
    min-height: 65vh;
    min-width: 45vh;
    /* border: 2px solid red; */
    border-radius: 8px;
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

#display {
    width: 15.2rem;
    height: 3rem;
    /* border: 0.5px solid whitesmoke !important; */
    background: rgba(245, 245, 245, 0.13);
    border: none;
    border-radius: 5px;
    margin-top: -2px !important;
    margin-bottom: 18px;
    padding: 0.5rem;
    display: flex;
    align-items: end !important;
    justify-content: end !important;
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
}

/* #buttons {
    display: flex;
    justify-content: center;
    margin: 10px 20px !important;
} */

button {
    width: 3.2rem;
    height: 3.2rem;
    border: 2px solid whitesmoke;
    margin: 7px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background: transparent;
    color: white;
}

button:hover {
    /* background-color: blue; */
    transform: translateY(-3px);
    transition: all ease 0.3s;
}

button:active {
    transform: scale(0.92);
    /* Scaling button to 0.98 to its original size */
}

.btnAc-color:hover {
    background: red;
    border: 2px solid red;
}

.btnDel-color:hover {
    background: blue;
    border: 2px solid blue;
}

.btnlength {
    min-width: 7.5rem !important;
}

.btnlength:hover {
    border: 2px solid rgb(4, 190, 4);
    background: rgb(4, 190, 4);
    /* transform: none !important; */
}